{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="intro">
      <div class="footer">
        <h4>One, who would search for pearls, must scroll below.</h4>
      </div>
      <figure> <img src="/images/main-building.jpg" title="IIT Roorkee" alt="IIT Roorkee" data-action="zoom" /> </figure>
      <p>Hey there! I'm <a href="/about">Pravendra Singh</a>. Welcome to my node in the Webgraph.</p>
      <p>I work as a Product Manager <s>Software Developer</s> at <a href="https://vernacular.ai">Vernacular AI</a> in Bangalore. My interests are Data Science, Information Retrieval, Concurrent Systems, and Fine Art. I like to experiment with Data journalism based on Visual storytelling, scroll down to explore some of my work.</p>
      <p>I used to <a href="https://github.com/pravj">maintain and contribute</a> to a number of Open Source projects, have slowed down a bit. I am a contributor to the <a href="https://golang.org">Go programming language</a>. I wish to talk in front of a group of smart minds about something educational.</p>
      <ul id="quotes-list">
        <li>
          <h1><i class="icon-quote-left"></i></h1>
          <p>I want to help create something that a lot of people use, appreciate, and critisize. Given that criticism is the key to improvement.</p>
        </li>
      </ul>
   </div>

      <div class="row">

	<div class="twelve columns recent">
	  <h3>Recent Post</h3>
	  <a href="{{ .Site.BaseURL }}blog/indian-railways-next-billion-users/">Opportunities in Indian Railway commute: Next Billion Users Perspective</a>
          <span style="font-size:12px;">December 1, 2019</span>
	  <h4>Google's NBU strategy and the scope of utility-based applications for passengers</h4>
	</div>

        <div class="twelve columns recent">
          <h3>Featured Articles</h3>

	  <a href="{{ .Site.BaseURL }}blog/solving-semantris-opencv-word2vec/">Solving Google Semantris using OpenCV and Word2Vec</a>
          <span style="font-size:12px;">Dec. 2, 2018</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/semantris-banner.jpg">
          </figure>

	  <hr>


		  <a href="{{ .Site.BaseURL }}blog/inside-cricket/">Inside Cricket</a>
          <span style="font-size:12px;">Apr. 15, 2018</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/inside-cricket.png">
		  </figure>

		<hr>

          <a href="{{ .Site.BaseURL }}blog/information-dynamics-on-github/">Information Dynamics on the GitHub Network</a>
          <span style="font-size:12px;">Feb. 8, 2017</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/github-dynamics-banner.png">
          </figure>

	  <hr>

          <a href="{{ .Site.BaseURL }}blog/indian-ecommerce/">Breaking into the Indian E-commerce</a>
          <span style="font-size:12px;">Dec. 11, 2015</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/indian-ecommerce-banner.png">
          </figure>

          <h6>
            Featured in <a target="_blank" href="https://www.techinasia.com/talk/breaking-indian-ecommerce-space">Tech in Asia</a>, <a target="_blank" href="http://eepurl.com/bJ621z">Python Weekly Newsletter</a>, and <a target="_blank" href="http://www.datatau.com/item?id=10673">DataTau.</a>
          </h6>

          <hr>

          <a href="{{ .Site.BaseURL }}blog/bangalore-taxis/">Jump in to ride all the Bangalore taxis, at once</a>
          <span style="font-size:12px;">Sep. 1, 2015</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/bangalore-taxis-banner.png">
          </figure>

          <h6>
            Retweeted by <a target="_blank" href="https://twitter.com/Plotlygraphs">Plotly</a> and HasGeek founder <a target="_blank" href="https://twitter.com/jackerhack/status/638724698914713600">Kiran jonnalagadda</a>.
          </h6>

          <hr>

          <a href="{{ .Site.BaseURL }}blog/open-source-presence-infographic">Open Source Presence Infographic of Indian Startups</a>
          <span style="font-size:12px;">Jan. 17, 2015</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/ospi-banner.png">
          </figure>

          <h6>
            Mentioned in <a target="_blank" href="http://engineering.wingify.com/posts/opensource-at-wingify/">Wingify Engineering</a>. Received comments from former Flipkart CTO <a target="_blank" href="https://twitter.com/amodm">Amod Malviya</a>, former Myntra CTO <a target="_blank" href="https://twitter.com/shamiksharma">Shamik Sharma</a>, HasGeek founder <a target="_blank" href="https://twitter.com/jackerhack">Kiran jonnalagadda</a>, and ERPNext founder <a href="https://twitter.com/rushabh_mehta">Rushabh Mehta</a>.
          </h6>
        </div>

    </div>
      </div>
      {{ partial "footer.html" . }}
  </div>
    {{ partial "bodyend.html" . }}
    {{ partial "analytics.html" . }}
</body>
</html>
