{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="intro">
      <figure> <img src="/images/pravj-monu-art.jpg" title="Fine Art is Fine" alt="Fine Art is Fine" data-action="zoom" /> </figure>
      <p>Hey there! I'm <a href="/about">Pravendra Singh</a>. Welcome to my node in the Webgraph.</p>
      <p>Currently a "Data Journalist" at <a href="https://plot.ly">Plotly</a>, I'll be joining <a href="https://www.datadoghq.com">Datadog</a> as Software Engineer Intern. I'm interested in Data Science, Information Retrieval, Concurrent Systems, and Fine Art.</p>
    </div>

      <div class="row">

        <div class="twelve columns recent">
          <h3>Featured Reports</h3>
          <a href="{{ .Site.BaseURL }}blog/information-dynamics-on-github/">Information Dynamics on the GitHub Network</a>
          <span style="font-size:12px;">Feb. 8, 2017</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/github-dynamics-banner.png">
          </figure>

	  <hr>

          <a href="{{ .Site.BaseURL }}blog/indian-ecommerce/">Breaking into the Indian E-commerce</a>
          <span style="font-size:12px;">Dec. 11, 2015</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/indian-ecommerce-banner.png">
          </figure>

          <h6>
            Featured in <a target="_blank" href="https://www.techinasia.com/talk/breaking-indian-ecommerce-space">Tech in Asia</a>, <a target="_blank" href="http://eepurl.com/bJ621z">Python Weekly Newsletter</a>, and <a target="_blank" href="http://www.datatau.com/item?id=10673">DataTau.</a>
          </h6>

          <hr>

          <a href="{{ .Site.BaseURL }}blog/bangalore-taxis/">Jump in to ride all the Bangalore taxis, at once</a>
          <span style="font-size:12px;">Sep. 1, 2015</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/bangalore-taxis-banner.png">
          </figure>

          <h6>
            Retweeted by <a target="_blank" href="https://twitter.com/Plotlygraphs">Plotly</a> and HasGeek founder <a target="_blank" href="https://twitter.com/jackerhack/status/638724698914713600">Kiran jonnalagadda</a>.
          </h6>

          <hr>

          <a href="{{ .Site.BaseURL }}blog/open-source-presence-infographic">Open Source Presence Infographic of Indian Startups</a>
          <span style="font-size:12px;">Jan. 17, 2015</span>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/banner-images/ospi-banner.png">
          </figure>

          <h6>
            Mentioned in <a target="_blank" href="http://engineering.wingify.com/posts/opensource-at-wingify/">Wingify Engineering</a>. Received comments from former Flipkart CTO <a target="_blank" href="https://twitter.com/amodm">Amod Malviya</a>, former Myntra CTO <a target="_blank" href="https://twitter.com/shamiksharma">Shamik Sharma</a>, HasGeek founder <a target="_blank" href="https://twitter.com/jackerhack">Kiran jonnalagadda</a>, and ERPNext founder <a href="https://twitter.com/rushabh_mehta">Rushabh Mehta</a>.
          </h6>
        </div>

    </div>
      </div>
      {{ partial "footer.html" . }}
  </div>
    {{ partial "bodyend.html" . }}
    {{ partial "analytics.html" . }}
</body>
</html>
