<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ .Site.BaseURL}}main.js"></script>

{{ if eq .Title .Site.Params.github_post_title }}
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdn.rawgit.com/pravj/d37733e593f6749c7a3bf78d3b448db7/raw/ba0071a969507e23ed9c8d58a396bfbd65cd4ec7/d3-tip-v0.6.3.js"></script>
  <script src="https://cdn.rawgit.com/pravj/63357fb9b6294d95620fe3bf54975f4d/raw/0df14b398d52f2d77d2be354ac871cdad5ad3091/stargazers-connection.js"></script>
{{ end }}


{{ if eq .Title .Site.Params.ecommerce_post_title }}
<script src='https://gist.githack.com/pravj/d4c24e297e5eafeba22f/raw/c8f7541edb7e69dd53ed688ef81d34a34c66f479/customer-location.js'></script>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoicHJhdmoiLCJhIjoiNjc1YTVjYTEzMjAyNjU4ZTgwNjQyMDQwNzgxNTc5MGMifQ.bEvQyBRzIuy5S_hmpsPLuA';
    var map = L.mapbox.map('customer-map', 'mapbox.streets')
        .setView([23.548683,79.7800369], 4);

    var markers = new L.MarkerClusterGroup();

    for (var i = 0; i < addressPoints.length; i++) {
        var a = addressPoints[i];
        var title = a[2];
        var marker = L.marker(new L.LatLng(a[0], a[1]), {
            icon: L.mapbox.marker.icon({'marker-symbol': 'building', 'marker-color': 'DD44FF'}),
            title: title
        });
        marker.bindPopup(title);
        markers.addLayer(marker);
    }

    map.addLayer(markers);
</script>
{{ end }}

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!--
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
-->
