<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Pravendra Singh - Falling Leaves">
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.description}}{{end}}" />

<meta property="og:image" content="{{ if .Params.mastimage }}{{ .Params.mastimage }}{{ else }} {{"https://hackpravj.com/images/pravj-monu-art.jpg" }} {{ end }}"/>

<meta property="article:author" content="https://www.facebook.com/hackpravj" />
<meta property="article:publisher" content="https://www.facebook.com/hackpravj" />
