<div class="post-header">
  <div class="container rrr">
    <div class="row">
      <div class="six columns">
        <h4><a href="/">PRAVENDRA SINGH</a></h4>
      </div>
      <div class="six columns">
        <nav>
          <ul class="nav-list">
            <li><a href="/about" title="About Me"><i class="icon-user"></i></a></li>
            <li><a href="/blog" title="Articles"><i class="icon-article-alt"></i></a></li>
            <li><a href="/projects" title="Projects"><i class="icon-github-circled"></i></a></li>
            <li><a href="/quotes" title="Quotes"><i class="icon-quote-left"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!--
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
