<div class="social-sharing">
	<span style="display:table;margin: 0 auto;">
		<a class="github-button" href="https://github.com/pravj" data-count-href="/pravj/followers" data-count-api="/users/pravj#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @pravj on GitHub">Follow @pravj</a>
		<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<!--<a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{ .Params.title }}" data-url="{{ .Permalink }}" data-count="horizontal" data-style="twitter">Vote on Hacker News</a>
		<span style="position:relative; top:-9px;" class="fb-like" data-href="{{ .Permalink }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></span>-->
	</span>
</div>
