<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hackpravj">
<meta name="twitter:creator" content="@hackpravj">
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.description}}{{end}}" />

{{ if ne .Title .Site.Params.github_post_title }}
<meta property="twitter:image" content="{{ if .Params.mastimage }}{{ .Params.mastimage }}{{ else }} {{"http://pravj.github.io/images/pravj-monu-art.jpg" }} {{ end }}"/>
{{ end }}

{{ if eq .Title .Site.Params.github_post_title }}
<meta property="twitter:image" content="{{ if .Params.mastimage }}{{ .Params.mastimage }}{{ else }} {{"http://pravj.github.io/images/github-dynamics.png"}} {{ end }}"/>
{{ end }}
