{{ partial "header.html" . }}
<body>
      {{ partial "singletop.html" . }}

  <div class="container">
    <div class="row">
      <h1 class="post-title"> <a href="/quotes/">Quotes</a> </h1>

      <div class="post-content">
        <p>While collecting inspiring things from people around me, I go in an unhurried way. The collection is not actually limited to computer programming et al. I have collected them from the Internet, songs I listen, books I read, real humans and what not.
	</p>

	<p>If you find any quote lacking or having a misplaced attribution please let me
        <a title="Email" href="mailto: hackpravj@gmail.com">know</a>.</p>

        <ul id="quotes-list">
           {{ range .Data.Pages }}
          <li>
              <h1><i class="icon-quote-left"></i></h1>
              {{ .Content }} - <span class="author">{{ .Params.author }}</span>
          </li>
           {{ end }}
        </ul>
      </div>
      
    </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ partial "analytics.html" . }}

    </div>
  </div>
  {{ partial "bodyend.html" . }}
</body>
</html>
