/*
* - cursor.css -
* Pravendra Singh
*/

body{
	margin: 0px;
	background: #837b7b;
	position: relative;
	height: 100%;
}

html{
	height: 100%;
}

a{
	text-decoration: none;
	color: #345345;
	font-weight: bold;
}

.header{
	display: block;
	height: 60px;
	background: #fcfcfc;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.header-left{
	float: left;
	font-family: 'Raleway';
	font-size: 30px;
	margin: 12px;
}

.header-right{
	float: right;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: bold;
	color: #cdcecd;
	margin: 18px 20px 18px 18px;
}

.projector{
	position: absolute;
	width: 85%;
	background: #ffffff;
	/*height: 87%;*/
	margin: auto;
	margin-top: 61px;
	left: 7.5%;
	border-top: 0px;
	border: 2px dotted #999999;
	z-index: 1;
}

.projector-up-side, .projector-down-side{
	background: #fcfdfc;
	width: 100%;
	height: 3%;
}

.projector-middle-side{
	background: #fafafa;
	width: 100%;
	height: 94%;
	box-sizing: border-box;
	padding: 15px 30px;
}

.projector-arrow-up, .projector-arrow-down{
	width: 100px;
	height: 100%;
	margin: auto;
	background: #fbfbfb;
	border-left: 1px solid #f9f9f9;
	border-right: 1px solid #f9f9f9;
	cursor: pointer;
}

.projector-arrow-up img, .projector-arrow-down img{
	width: 20px;
	height: 20px;
	margin-left: 40%;
}

.element-title{
	background: #cdcecd;
	display: inline-block;
	padding: 5px 10px;
	font-size: 18px;
	color: #f9fafa;
	font-family: 'Raleway';
	font-weight: bold;
	border-left: 3px solid #837b7b;
}

.element-info{
	display: inline-block;
	background: #f7f7f7;
	padding: 4px;
	color: #575757;
	font-family: 'Raleway';
	border-bottom: 1px solid #d3d3d3;
}

.element-data{
	margin-top: 10px;
}

.meta-data-date{
	display: inline-block;
	background: #a2aaa2;
	border-left: 2px solid #837b7b;
	padding: 5px;
	color: #f9fafa;
}

.meta-data-tags{
	display: inline-block;
	background: #f7f7f7;
	padding: 3px;
	color: #575757;
}

.element-data img{
	width: 100%;
	height: 50%;
}