@font-face {
    font-family: 'Roboto-Thin';
    src: url('../../font/roboto/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../../font/roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../../font/roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../../font/roboto/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../../font/roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Raleway-Thin';
	src: url('../../font/custom/Raleway-Thin.ttf');
}

/*
body {
  width: 100%;
  height: 100%;
}
*/

html {
  background: #FEFEFE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif;
}

h4 {
  font-size: 1.8rem;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

h1 {
  font-size: 5rem;
}

code {
  padding: 2px;
  background-color: #f9f9f9;
  color: #7e7e7e;
}

.highlight {
  padding: 1rem;
  background-color: #f9f9f9;
  color: #7e7e7e;
}

.post-content ul {
  padding-left: 20px;
}

.tag-invisible {
  display: none;
}

.post-content ul li {
  padding-left: 20px;
  list-style-type: circle;
}

.front-content {
  height: 100%;
  width: 100%;
  background: #FCFCFC;
  position: absolute;
}

.front-content .row .col {
  padding: 0px;
}

.front-content-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #DDDDDD;
}

.front-content-middle {
  color: #FAFAFF;
  position: relative;
  top: 20%;
}

.front-content-middle .card .card-title {
  color: red;
}

.card {
  background-color:f4f2ff;
}

.front-content-middle .card-action {
  padding-top: 10px;
}

.indicator {
  display: none;
}

.front-header {
  width: 100%;
  position: relative;
  background-color: #7B9FD3;
  -moz-box-shadow:    inset 0 0 5px #0D4656;
  -webkit-box-shadow: inset 0 0 5px #0D4656;
  box-shadow:         inset 0 0 5px #0D4656;
}

.front-nav {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(221,221,221,1);
  box-shadow: 0px 1px 1px 0px rgba(221,221,221,1);
}

.front-content-material {
  position: relative;
}

.tabs .tab a {
  display: inline;
  color: #959693;
}

.hide-on-small-only {
  color: #8D8983;
}

.tabs .tab a:hover {
  color: #909090;
}

.front-header-name {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #E6E8E6;
}

.front-header-tag {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #B9CDDA;
  font-weight: bolder;
}

.front-bio {
  font-family: 'PT Sans', sans-serif;
}

.card-content {
  color: #83898D;
}

.front-recent-heading {
  font-family: 'Roboto-Medium';
  color: #8D8983;
}

.front-recent-article-heading {
  font-size: 20px;
  color: #A4B4C4;
}

a {
  color: #587792;
}

.front-recent-article-heading a {
  color: #1184BE;
  font-family: sans-serif;
}

.front-footer {
  font-size: 10px;
}

blockquote {
  border-left-color: #e5e5e5;
  color: #7a7a7a;
}

.navigation {
  color: #546A7B;
}

img {
  display: block;
  max-width: 100%;
}

.zero-bottom-margin {
  margin-bottom: 0px;
}

.quote-icon {
  font-size: 24px;
  position: relative;
  top: -5px;
  color: #71807F;
}

.section-description, .quote-author, .article-date, .article-tags {
  font-family: 'Roboto-Light';
}

.section-heading {
  color: #71807F;
}

.section-tag, .quote-author {
  color: #959693;
}

.section-description {
  color: #43616F;
}

.article-date {
  position: relative;
  top: 10px;
  font-size: 12px;
}

.article-tags ul li {
  float: left;
  padding-right: 12px;
}

.social-presence-icons {
  font-size: 32px;
  position: relative;
  top: -40px;
}

.social-presence-icons ul li {
  float: left;
  margin-right: 20px;
}

.front-social-presence-icons {
  font-size: 32px;
}

.front-social-presence-icons a {
  margin-right: 10px;
  margin-left: 10px;
  color: #C9D0D0;
}

.social-presence-icons ul li a {
  color: #959693;
}

.social-email {
  color: #71807F;
  position: relative;
  top: -40px;
}

.icon-24 {
  font-size: 24px;
}

.icon-black {
  color: #495D63;
}

.fb_iframe_widget {
  display: inline-flex;
}

.tag-element {
  border: 1px solid #FEFEFE;
  border-radius: 2px;
  background: #7b9fd3;
  color: #fefefe;
}

.tag-group .row {
  margin-bottom: 0px;
}

.tag-group .col {
  padding: 5px;
}

.tag-group {
  margin-top: 20px;
}

.ad-text-a {
  color: #87C0CD;
}

.ad-text-b {
  color: #89AFBB;
}

.ad-subtext span {
  margin-left: 10px;
  margin-right: 10px;
}

.ad-text-bottom {
  position: relative;
  top: 30px;
}
